---
layout: default
title: Funny
---

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <!-- <h1>杂货</h1> -->
      
      <!-- <div class="archive-cloud categories-cloud">
        <div class="archive-cloud categories-cloud">
          {% for category in site.categories %}
            <a href="#{{ category[0] }}" title="{{ category[0] }}" rel="{{ category[1].size }}">{{ category[0] }} ({{ category[1].size }})</a>
            <a href="">category</a>
            {% if category[0] == 'java' %}
            <a href="">category</a>
            {% endif %}
          {% endfor %}
        </div>
      </div> -->

      <!-- <hr /> -->

      <div class="archive-posts-list category-posts-list">
      {% for category in site.categories %}
        {% if category[0] == 'Funny' %}
          <!-- <span class="fa fa-book" aria-hidden="true" id="{{ category[0] }}">
            <span class="text">{{ category[0] }}</span>
          </span> -->

          <span class="fa" aria-hidden="true" id="{{ category[0] }}">
            <span class="text">有趣的可多着呢</span>
          </span>

          <ul class="posts-list">
          {% for post in category[1] %}
            <li><a class="post-title" href="{{ site.baseurl }}{{ post.url }}"><small class="post-date">{{ post.date | date:"%Y-%m-%d" }}</small>{{ post.title }}</a></li>
            {% if post.subtitle %}
              -- <a class="post-subtitle">{{ post.subtitle }}</a>
            {% endif %}
          {% endfor %}
          </ul>
          {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
</div>
